*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  width: 600px;
}

.logo {
  width: 65px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: #4070f4;
  padding: 2em 0;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list--primary {
  margin-bottom: 1.5em;
}

.nav__item {
  margin-top: 0.75em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.75;
}

.nav__link--button {
  display: inline-block;
  background-color: #fff;
  color: #23424a;
  padding: 0.25em 0.75em;
  border-radius: 10em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.logo {
  display: none;
}

@media (min-width: 650px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .nav__item {
    margin: 0 0 0 2em;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
}
